:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 11px 26px;
  background: linear-gradient(190deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  transition: all 0.7s ease-in;
}

.button:hover {
  background: whitesmoke;
  cursor: pointer;
  color: var(--orange);
  border: 1px solid var(--orange);
}
/* ripple */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

.ripple-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, #d9e0e4, #d2d5db);
  overflow: hidden;
  z-index: -1;
}

.ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 1000px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: ripple-effect 6s linear infinite;
  opacity: 0.7;
}

.ripple:nth-child(2) {
  animation-delay: 2s;
}

.ripple:nth-child(3) {
  animation-delay: 4s;
}

@keyframes ripple-effect {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}
/* ripple */
@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;
  }
}
@media screen and (max-width: 980) {
  .App {
    padding: 1rem;
  }
}
