.works {
  display: flex;
  height: auto;
  margin-top: 2rem;
  justify-content: space-around;
}
.works.awesome {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.cv-button {
  margin-top: 40px !important;
}

/* right Side */

.w-right {
  position: relative;
  width: 18rem;
  height: 18rem;
}

.mainCircle {
  left: 0;
  position: absolute;
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  box-shadow: var(--smboxShadow);
  top: 2rem;
  background: white;
}

.mainCircle > * {
  position: absolute;
}

.mainCircle > :nth-child(1) {
  top: -3rem;
  left: 6rem;
}
.mainCircle > :nth-child(2) {
  left: -3rem;
  top: 5rem;
}
.mainCircle > :nth-child(3) {
  left: 6rem;
  top: 5rem;
}
.mainCircle > :nth-child(4) {
  left: 15rem;
  top: 5rem;
}
.mainCircle > :nth-child(5) {
  left: 6rem;
  top: 13rem;
}

.w-secCircle {
  width: 6rem;
  height: 6rem;
  position: absolute;
  border-radius: 100%;
  border: 5px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: var(--smboxShadow);
}
.w-secCircle > img {
  width: 100%;
  height: 100%;
  transform: scale(0.6);
}

.w-backCircle {
  position: absolute;
  height: 13rem;
  width: 13rem;
  border-radius: 100%;
  z-index: -1;
}

.blueCircle {
  background: blue;
  left: 9rem;
  top: 0;
}
.yellowCircle {
  background: #f5c32c;
  left: 9rem;
  top: 8rem;
}
.cv-button {
  margin-top: 20px;
  width: 9rem;
}

/* responsive starts here */
@media screen and (max-width: 1026px) {
  .works {
    min-height: 40vh;
  }
  .works.awesome {
    max-height: 10rem;
    margin-right: 0;
  }
  .w-right {
    transform: scale(0.8);
    left: 2rem;
  }
}
@media screen and (max-width: 966px) {
  .awesome > :nth-child(1) {
    font-size: 1rem;
  }
  .awesome > :nth-child(2) {
    font-size: 1.5rem;
  }
  .awesome > :nth-child(3) {
    font-size: 14px;
  }
  .awesome > :nth-child(4) {
    font-size: 1rem;
  }
  .w-right {
    transform: scale(0.65);
    top: -2rem;
  }
}
@media screen and (max-width: 686px) {
  .awesome {
    margin-left: -1rem;
  }
  .awesome > :nth-child(1) {
    font-size: 0.8rem;
  }
  .awesome > :nth-child(2) {
    font-size: 1.2rem;
  }
  .awesome > :nth-child(3) {
    font-size: 14px;
  }
  .awesome > :nth-child(4) {
    font-size: 0.8rem;
  }
  .w-right {
    transform: scale(0.6);
    left: -2rem;
  }
}
@media screen and (max-width: 480px) {
  .works {
    height: 75vh;
    flex-direction: column;
    padding: 0;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .awesome {
    margin-left: 0rem;
  }
  .works.awesome {
    justify-content: center;
    align-items: center;
    margin-right: 0rem;
    margin-left: 0rem;
  }
  .w-right {
    display: flex;
    left: 0;
    top: -2rem;
    flex-direction: column;
    transform: scale(0.7);
  }

  .mainCircle {
    left: -1.5rem;
    bottom: 1rem;
    min-width: 18rem;
    height: 18rem;
  }
  .blueCircle {
    left: 50%;
  }
  .yellowCircle {
    left: 50%;
  }
}
@media screen and (max-width: 345px) {
  .works {
    align-items: center;
    justify-content: center;
    height: 65vh;
  }
  .w-right {
    transform: scale(0.45);
  }
}
