.footer {
  min-width: 100%;
  display: flex;
  align-items: center;
  margin: -0.5rem -3.5rem;
  justify-content: center;
  height: 2rem;
}

.f-content {
  position: absolute;
  z-index: 1;
}

.f-content span {
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {
  .f-content span {
    font-size: 14px;
    color: rgb(39, 24, 5);
  }
}
